{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!{% endblock %}

{% block body %}
    <h1>Recipes</h1>
    <p>Recipe : {{ recipe.name }} </p> 
    <p>
     Ingredients : 
        {% for ingredient in recipe.ingredients %}
           {{ ingredient }} 
        {% endfor %}
    </p>
    <p>Cooking Tome : {{ recipe.cookingTime }} </p>
    <p>Preparation Time : {{ recipe.preparationTime }} </p>
    <p>Serves : {{ recipe.serves }} </p>

{% endblock %}
